@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  scroll-behavior: smooth;
}

:root {
  --grid--app-xheight: 160px;
}

@media (max-height: 760px) {
  :root {
    --grid--app-xheight: 120px;
  }
}

#content {
  padding: calc(var(--grid--app-xheight) - 11px) 0 80px 0;
}

.content-section {
  padding: 100px 0 100px 0;
}

.home-text{
  text-align: center;
  position: relative;
  z-index: 2;
}

.home-text h1{
 color:#ffffff;
 font-size: 50px;
 color:#ffffff;
 line-height: 80px;
 font-weight: 700;
}
.home-text p{
 margin:0;
 overflow: hidden;
}
.home-text p span{
   display: none;
}

.home-text p span.text-in{
 display: block;
 animation: textIn .5s ease;
}
.home-text p span.text-out{
 animation: textOut .5s ease;
}
@keyframes textIn{
 0%{
   transform: translateY(100%);
 }
 100%{
   transform: translateY(0%);
 }
}
@keyframes textOut{
 0%{
   transform: translateY(0%);
 }
 100%{
   transform: translateY(-100%);

 }
}

.heading {
  animation: blurEffect 500ms ease;
}

.heading-two {
  animation: shine 3s infinite;
  background: linear-gradient(to right, rgba(99,99,99,1) 45%, rgba(255,255,255,1) 50%, rgba(99,99,99,1) 55%, rgba(99,99,99,1) 100%);
  -webkit-background-clip: text;
  color: rgba(99,99,99,0);
  background-size: 200%;
}

@keyframes blurEffect {
  0% {
    filter: blur(30px);
  }
  100% {
    filter: blur(0);
  }
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.water::after {
  content: "";
  width: 204%;
  height: 204%;
  background-color: white;
  position: fixed;
  top: -150%;
  left: -52%;
  border-radius: 40%;
  animation: anim 11s linear infinite;
  animation-delay: 0.5s;
}

@keyframes anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}