@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --grid--app-xheight: 160px; /* Default value */
}

@media (max-height: 760px) {
  :root {
    --grid--app-xheight: 120px; /* Value for screens with max height 760px */
  }
}

#content {
  padding: calc(var(--grid--app-xheight) - 11px) 0 80px 0;
}

.content-section {
  padding: calc(var(--grid--app-xheight) - 11px) 0 80px 0 !important;
}

.home-text{
  text-align: center;
  position: relative;
  z-index: 2;
}

.home-text h1{
 color:#ffffff;
 font-size: 50px;
 color:#ffffff;
 line-height: 80px;
 font-weight: 700;
}
.home-text p{
 margin:0;
 overflow: hidden;
}
.home-text p span{
   display: none;
}

.home-text p span.text-in{
 display: block;
 animation: textIn .5s ease;
}
.home-text p span.text-out{
 animation: textOut .5s ease;
}
@keyframes textIn{
 0%{
   transform: translateY(100%);
 }
 100%{
   transform: translateY(0%);
 }
}
@keyframes textOut{
 0%{
   transform: translateY(0%);
 }
 100%{
   transform: translateY(-100%);

 }
}